@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--main-bg);
  color: var(--main-text);
  scroll-behavior: smooth;
}

/* LIGHT & DARK THEME */
:root {
  --main-bg: #e7edfa;
  --main-text: hsl(0, 0%, 0%);
  --container-bg: #fcfcfc;
  --global-hover: #e7edfa;
  --search-bg: rgba(255, 255, 255, 0.65);
  --search-text: #8c8c8c;
  --weather-card-bg: #bfedfb;
  --bs-list-group-border-color: rgba(0, 0, 0, 0.125);
  --border-white: #000000;
}

.dark {
  --main-bg: #242230;
  --main-text: #f6f7fa;
  --container-bg: #2e3540;
  --global-hover: rgba(149, 205, 236, 0.22);
  --search-bg: rgba(0, 0, 0, 0.65);
  --search-text: #bdbdbd;
  --weather-card-bg: #4e6891;
  --border-white: #fff;
}

/* HEADER STYLES */
.header {
  background: transparent;
  padding: 16px;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

/* TITLE */
.title {
  font-size: 22px;
  font-weight: bold;
  color: var(--main-text);
}

/* SEARCH FORM & THEME TOGGLE WRAPPER */
.header-actions {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
  flex: 1 1%;
}

/* SEARCH INPUT */
.search-form {
  width: 100%;
}
.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: var(--search-bg);
  color: var(--search-text);
  transition: 0.3s ease;
}
.search-input:focus {
  outline: none;
  border-color: #0a95c0;
  box-shadow: 0 0 8px rgba(10, 149, 192, 0.3);
}

/* THEME TOGGLE STYLES */
.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.4s ease;
}

/* ROTATION EFFECT */
.dark .theme-toggle {
  transform: rotate(180deg);
}

/* ICON STYLES */
.theme-icon {
  width: 24px;
  height: 24px;
  transition: opacity 0.4s ease;
}
.sun-icon {
  color: #fdd835; /* Yellow */
}
.moon-icon {
  color: #2196f3; /* Blue */
}

/* HIDE NON-ACTIVE ICON */
.dark .moon-icon {
  opacity: 0;
}
.light .sun-icon {
  opacity: 0;
}

/* Weather Data container */
.dashboard-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  height: 100%;
  overflow: hidden;
}
.weather-data-container {
  border-radius: 20px;
  background: var(--container-bg);
  height: 100%;
}
.weather-data-container {
  padding: 16px;
}
.weather-location {
  margin: 12px 16px 24px 24px;
}
.weather-location h2 {
  font-size: 20px;
  font-weight: bold;
  color: var(--main-text);
}
.weather-location h3 {
  font-size: 16px;
  color: var(--main-text);
  opacity: 0.8;
}
.weather-info-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.weather-card {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  background-color: var(--weather-card-bg);
  min-height: 230px;
  border-radius: 10px;
}
.weather-card-header {
  align-self: end;
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 20px;
}
.star-icon {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  color: var(--main-text);
  border: #000;
}
.star-icon.favorite {
  fill: gold;
}
.weather-card button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease-in-out;
}
.d-flex {
  display: flex;
}
.flex-grow-1 {
  flex-grow: 1;
  color: var(--main-text);
}
.text-end {
  text-align: right;
  color: var(--main-text);
}
.temp-card {
  background: rgba(198, 241, 217, 0.4);
  min-height: 230px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  padding: 8px 12px;
}
.temp-card-info {
  justify-content: space-between;
  border-bottom: 1px solid var(--bs-list-group-border-color);
  padding: 12px;
}
.sunrise-card {
  min-height: 230px;
  flex: 1;
}
.forcast-container {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  padding: 10px;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  max-width: 330px;
  margin-top: 36px;
}
.day-weather-card {
  flex: 0 0 auto;
  border-radius: 10px;
  text-align: center;
  background: rgb(34 132 187 / 22%);
  padding: 8px 20px;
  height: 155px;
  width: 145px;
  scroll-snap-align: center;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.favourite-cities-container {
  border-radius: 20px;
  background: var(--container-bg);
  height: 100%;
  width: 100%;
  padding: 20px 20px 20px 20px;
}
.items-wrapper {
  margin-top: 24px;
  border-top: 1px solid var(--border-white);
}
.fav-item-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 12px;
  justify-content: space-around;
  text-align: justify;
  border-bottom: 1.5px solid var(--border-white);
}

.fav-item-container img {
  height: 80px;
}

@media (min-width: 768px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
  }

  .title {
    font-size: 24px;
  }

  .header-actions {
    justify-content: flex-end;
  }

  .weather-info-container {
    flex-direction: row;
  }

  .weather-card {
    flex: 1 1 auto;
  }
  .temp-card {
    flex: 1 1 auto;
  }
  .forcast-container {
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .layout {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    min-height: 100vh;
  }

  .container {
    max-width: 1320px;
    width: 100%;
    margin-top: 40px;
  }

  .header-container {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .title {
    font-size: 28px;
  }
  .search-form {
    max-width: 320px;
  }

  .dashboard-container {
    grid-template-columns: 1fr 0.5fr;
  }
  .weather-card {
    flex: 1;
  }
  .temp-card {
    flex: 1;
  }

  .fav-item-container img {
    height: 140px;
  }
}
